@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

.container {
  max-width: 1320px !important;
  margin: auto;

  @media screen and (max-width: 1320px) {
    padding: 0 20px;
  }

  @media screen and (max-width: 1280px) {
    padding: 0 10px;
  }
}

.nav-link {
  font-family: Noto Sans JP;
  font-size: 18px;
  font-weight: 500;
  line-height: 26.06px;
  
}